<config>
	<version>1</version>
	<undecoded>no</undecoded>
	<mysql_server>localhost</mysql_server>
	<mysql_database>rfxcmd</mysql_database>
	<mysql_username>rfxcmd</mysql_username>
	<mysql_password>rfxcmd</mysql_password>
	<trigger>yes</trigger>
	<triggerfile>trigger.xml</triggerfile>
	<sqlite_database>sqlite.db</sqlite_database>
	<sqlite_table>rfxcmd</sqlite_table>
	<loglevel>error</loglevel>
	<graphite_server>192.168.106.141</graphite_server>
	<graphite_port>2003</graphite_port>
</config>
